*,
:after,
:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    width: 100%;
    padding: 10px;
}

.game-info {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 0.5rem;
    
}

.icons {
    display: flex;
    justify-content: flex-end;  
    gap: 0.5rem;
    align-items: center;  
    background-color: transparent; 
    cursor: pointer;
}

body {
    background: linear-gradient(to bottom, #615dad, #ffc8da);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 2.5rem;
    font-style: normal; 
    text-align: center;
    margin-bottom: 1.875rem;
}

p {
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 1rem;
}


.icon1 {
    background-color: turquoise;
    padding: 0.675rem;
}

.icon2 {
    background-color: skyblue;
    padding: 0.675rem;
}

.ctverce {
    display: grid;
    grid-template-columns: repeat(10, 1.725rem); 
    grid-template-rows: repeat(10, 1.725rem); 
    gap: 0;
}

.čtverec {
    width: 1.725rem;
    height: 1.725rem;
    margin: 0;
    background-repeat: no-repeat;
    border: 0.075rem solid black;
    cursor: pointer;
    color: white;
    background: #ffc8da;
}

.čtverec:hover {
    background-color: lightpink;
}

.game-info {
    display: flex;
    align-items:center;
    justify-content: start;
}

.obsah {
    max-width: 600px;
    margin: auto;
}