html {
    box-sizing: border-box;
}
*,
:after,
:before {
    box-sizing: inherit;
}

body {
    background: linear-gradient(to bottom, #615dad, #ffc8da);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 3.5rem;
    font-style: normal; 
    text-align: center;
    margin-bottom: 1.875rem;
    position: relative;   
}

.icons { 
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    border-radius: 2% 2% 0 0;
    align-items: center;
    gap: 0.5rem;
}

.game-info {
    justify-content: flex-start;
    display: flex;
    align-items: center; 
    width: 100%; 
}

header {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%;
    padding: 10px;
    position: relative;
}

p {
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
    margin-right: 1rem;
    font-weight: bold;
    
}

.icon1 {
    background-color: turquoise;
    padding: 0.675rem;
    border-radius: 10%;
}

.icon2 {
    background-color: skyblue;
    padding: 0.675rem;
    border-radius: 10%;
}

.ctverce {
    display: grid;
    grid-template-columns: repeat(10, 1.725rem); 
    grid-template-rows: repeat(10, 1.725rem); 
    border: 1px solid black;
}

.čtverec {
    width: 1.725rem;
    height: 1.725rem;
    margin: 0;
    background-repeat: no-repeat;
    border: 0.075rem solid black;
    cursor: pointer;
    color: white;
    background-color: rgba(231, 204, 228, 0.4);
    aspect-ratio: 1 / 1;
}

.čtverec:hover,
.čtverec:focus {
    border: 1px solid violet;
    background-color: rgba(217, 176, 228, 0.4);
}

